html,
body {
  height: 100%;
  width: 99.55%;
  background-color: rgb(16, 16, 16);
  overflow: hidden;
}

* {
  border-color: yellow;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 330%;
  color: yellow;

}

h2 {
  color: yellow;
  font-family: 'Quicksand', sans-serif;
  font-size: 280%;
}

h3 {
  color: yellow;
  font-family: 'Quicksand', sans-serif;
  font-size: 280%;
  margin-top: 30px;
  margin-left: 190px;
}

p1 {
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size: 150%;
  font-weight: 700;
}

p2 {
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size: 150%;
  font-weight: 700;
  margin-top: 150px;
  margin-left: -200px;
}

p3 {
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size: 150%;
  font-weight: 700;
  margin-top: 230px;
  margin-left: -135px;
}

button {
  background-color: #373434;
  color: #ffffff;
  font-weight: 600;
  font-family:'Quicksand',sans-serif;
  border-radius: 6px;
  border: none;
  font-size: 22px;
  transition: background-color 0.3s, transform 0.15s;
}

button:hover {
  transform: scale(1.1);
  background-color: #303434;
  cursor: pointer;
}

button:active {
  background-color: #232424;
  transform: scale(0.98);
}

#settingsmenu {
  width: 550px;
  height: 450px;
  background-color: rgba(29, 29, 27, 0.95);
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#highscorebutton {
  background-color: #373434;
  color: #ffffff;
  font-weight: 600;
  font-family:'Quicksand',sans-serif;
  border-radius: 6px;
  border: none;
  font-size: 22px;
  transition: background-color 0.3s, transform 0.15s;
  height: 5vh;
  width: 7vh;
  position: relative;
  transform-origin: center;
  margin-left: 2.5%;
  margin-top: 25.7%;
}

#highscorebutton:hover {
  transform: scale(1.1);
  background-color: #303434;
  cursor: pointer;
}

#highscorebutton:active {
  background-color: #232424;
  transform: scale(0.98);
}

#rebirthbutton {
  background-color: #373434;
  color: #ffffff;
  font-weight: 600;
  font-family:'Quicksand',sans-serif;
  border-radius: 6px;
  border: none;
  font-size: 22px;
  transition: background-color 0.3s, transform 0.15s;
  height: 4.5vh;
  width: 32vh;
  position: relative;
  transform-origin: center;
  margin-left: -45%;
  margin-top: 57%;
  white-space: nowrap;
}

#rebirthbutton:hover {
  transform: scale(1.1);
  background-color: #303434;
  cursor: pointer;
}

#rebirthbutton:active {
  background-color: #232424;
  transform: scale(0.98);
}

#rebirthscorebutton {
  background-color: #373434;
  color: #ffffff;
  font-weight: 600;
  font-family:'Quicksand',sans-serif;
  border-radius: 6px;
  border: none;
  font-size: 22px;
  transition: background-color 0.3s, transform 0.15s;
  height: 5vh;
  width: 7vh;
  position: relative;
  transform-origin: center;
  margin-left: -11.8%;
  margin-top: 40.5%;
}

#rebirthscorebutton:hover {
  transform: scale(1.1);
  background-color: #303434;
  cursor: pointer;
}

#rebirthscorebutton:active {
  background-color: #232424;
  transform: scale(0.98);
}
