html, body {
  height: 100%;
  width: 99.4%;
  background-color: rgb(16, 16, 16);
  overflow: hidden;
}

* {
  border-color: yellow;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 330%;
  color: yellow;

}

h2 {
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size: 280%;
}

p1 {
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size: 150%;
  font-weight: 700;
}

button {
  background-color: #373434;
  color: #ffffff;
  font-weight: 600;
  font-family:'Quicksand',sans-serif;
  border-radius: 6px;
  border: none;
  font-size: 22px;
  transition: background-color 0.3s, transform 0.15s;
}

button:hover {
  transform: scale(1.1);
  background-color: #303434;
  cursor: pointer;
}

button:active {
  background-color: #232424;
  transform: scale(0.98);
}
